.centre {
    display: block;
    margin: 0 auto;
    margin-top: 30px;

}

.inputs {
    padding: 20px;
    background: grey;
    width: 30%;
    margin-top: 20%;
}

.inputs p {
    text-align: center;
    color: red;
}

.inputs input {
    width: 80%;
}


